@import "../../styles/mixins.module.scss";

.container {
  position: relative;

  h1 {
    position: relative;
  }
  .divImage {
    position: relative;
    height: 100vh;
  }

  .divImage::before {
    padding: 0px 100px;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("https://res.cloudinary.com/dvz91qyth/image/upload/v1687205440/Nomex/auth%20page%20assets/11mag-nomadism1-superJumbo_xixnpm.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
    height: 100vh;
  }
  .backBtn {
    position: absolute;
    left: 30px;
    top: 30px;
    transition: all 0.1s ease-in-out;

    &:hover {
      cursor: pointer;
      transition-timing-function: ease-in;
      transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
      transform: translateY(-3px);
    }
  }

  .demoBtn {
    all: unset;
    color: black;
    padding: 10px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
    opacity: 0.7;
    font-size: 1.8rem;
    background-color: white;
    position: fixed;
    top: 90%;
    left: 50%;
    transition: all 0.1s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: 1000;

    &:hover {
      cursor: pointer;
      transition-timing-function: ease-in;
      transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
      transform: translate(-50%, -60%);
      opacity: 1;
    }
  }

  .testContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    background-color: $lightShade;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;

    p {
      font-size: 2rem;
      margin-top: 1rem;
    }
  }
}
