@import "../../styles/mixins.module.scss";
@import "../../styles/variables.module.scss";

.container {
  height: calc(100vh - 80px);
  .contentContainer {
    background: linear-gradient(to bottom, #f9f8f8, #93b1c1);
    display: flex;
    height: 100%;
    @include componentPadding(100px);
  }
  .headerContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .imgContainer {
    width: 80%;
    height: 60%;
    position: relative;
  }
}
