@import "../../styles/mixins.module.scss";
@import "../../styles/variables.module.scss";

.container {
  .contentContainer {
    height: calc(100vh - 80px);
    background: linear-gradient(to bottom, #f9f8f8, #93b1c1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .heroImgContainer {
    width: 90%;
  }
  .imgContainer {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 200px;
    margin-top: 40px;
  }
}

@media (min-width: $Mobile) {
  .container {
    .heroImgContainer {
      margin: 0 auto;
      width: 90%;
      height: 300px;
    }
  }
}

@media (min-width: $desktop) {
  .container {
    .contentContainer {
      flex-direction: row;
      align-items: center;
      padding: 0 5%;
    }
    .heroImgContainer {
      width: 50%;
    }
    .imgContainer {
      height: 400px;
    }
  }
}
