@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins.module.scss";

.container {
  width: 100%;
  margin-top: 5rem;
}

@media (min-width: $smallDesktop) {
  .container {
    width: 100%;
    margin-top: 5rem;
  }
}
