$lightShade: #f9f8f8;
$lightAccent: #dca26c;
$mainBrandColor: #93b1c1;
$mainBrandColorRgba: rgba(147, 177, 193, 0.8);
$darkAccent: #bc5968;
$darkShade: #3b5875;
$brandBlack: #191919;
$success: #5ea25d;
$warning: #db9225;
$danger: #ff5733;

// responsive breakpoints:
$miniMobile: 150px;
$smallMobile: 320px;
$Mobile: 481px;
$tablet: 769px;
$smallDesktop: 1025px;
$desktop: 1201px;
$largeDesktop: 2200px;

:export {
  lighShade: $lightShade;
  lightAccent: $lightAccent;
  mainBrandColor: $mainBrandColor;
  mainBrandColorRgba: $mainBrandColorRgba;
  darkAccent: $darkAccent;
  darkShade: $darkShade;
  brandBlack: $brandBlack;
  success: $success;
  warning: $warning;
  danger: $danger;
}
