@import "../../../styles/variables.module.scss";
@import "../../../styles/mixins.module.scss";

.container {
  background-color: white;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 90%;
  border-radius: 1rem;
  min-height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .userInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .userSection {
    display: flex;
    align-items: center;

    .link {
      color: $brandBlack;
      text-decoration: none;
    }

    .profilePicture {
      margin: 1rem 0.5rem;
      border-radius: 50%;
    }

    .userInfo {
      font-size: smaller;
      &:first-child {
        font-size: small;
        font-weight: bold;
      }
    }
  }

  .commentIconConatiner {
    display: flex;
    flex-direction: column;
    .timePosted {
      font-size: medium;
      font-weight: bold;
    }
    .icons {
      display: flex;
    }
    img {
      margin-right: 15px;
      &:hover {
        cursor: pointer;
        @include hoverEffect();
      }
    }
  }

  .engagementPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    .engagement {
      margin-right: 1.5rem;

      &:hover {
        cursor: pointer;
      }
    }
    p {
      color: $mainBrandColor;
    }
  }
}

.loadingContainer {
  background-color: white;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 90%;
  border-radius: 1rem;
  min-height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
