@import "../../styles/mixins.module.scss";
@import "../../styles/variables.module.scss";

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 100vh;

  .form {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .inputContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  label {
    margin-top: 20px;
  }

  .input {
    background-color: transparent;
    border: 2px solid gray;
    height: 30px;
    font-size: 18px;
  }

  h1 {
    position: relative;
    text-align: center;
  }
  label {
    position: relative;
  }

  .authBtn {
    @include btnStyles(
      $darkShade,
      3px,
      $brandBlack,
      90%,
      10px auto,
      bold,
      30px,
      1.8rem,
      none,
      0.6,
      1
    );
  }

  .enabled {
    @include btnStyles(
      $darkShade,
      3px,
      white,
      90%,
      10px auto,
      bold,
      30px,
      1.8rem,
      $darkShade,
      1,
      1
    );
  }

  .disabled {
    all: unset;
    border: 3px solid $darkShade;
    color: $brandBlack;
    padding: 10px;
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
    opacity: 0.2;
    margin: 10px auto;
    font-size: 1.8rem;
    background-color: none;
  }
  .icon {
    margin-right: 10px;
  }
  .warning {
    color: $warning;
    background-color: $darkShade;
    padding: 5px;
    border-radius: 3.5px;
  }
  .error {
    padding: 5px;
    border-radius: 3.5px;
    color: $danger;
  }
  .valid {
    font-size: 1.4rem;
    color: $success;
  }
  .invalid {
    font-size: 1.4rem;
    color: $danger;
  }
  .toggle {
    font-size: 1.4rem;
    text-align: center;
    @include hoverEffect();
  }
  .centered {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
  }
}

@media (min-width: $tablet) {
  .formContainer {
    width: 70%;
  }
}

@media (min-width: $desktop) {
  .formContainer {
    left: 400px;
    width: 30%;

    .form {
      background-color: white;
      padding: 15px;
      border-radius: 20px;
      height: 500px;
    }
  }
}
