@import "../../styles/mixins.module.scss";
@import "../../styles/variables.module.scss";

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
  margin: 0 auto;
  width: 90%;
  border-radius: 20px;
  top: 100px;
  @include flexibleBackgroundColor(147, 177, 193, 1);

  .inputContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  label {
    margin-top: 20px;
  }

  .input {
    background-color: transparent;
    border: 2px solid gray;
    height: 30px;
    font-size: 18px;
  }

  h1 {
    position: relative;
    text-align: center;
  }
  label {
    position: relative;
  }

  .authBtn {
    @include btnStyles($darkShade, 3px, $brandBlack, 90%, 10px auto);
  }
  .icon {
    margin-right: 10px;
  }
  .warning {
    color: $warning;
    background-color: $darkShade;
    padding: 5px;
    border-radius: 3.5px;
  }
  .error {
    padding: 5px;
    border-radius: 3.5px;
    color: $danger;
  }
  .valid {
    font-size: 1.4rem;
    color: $success;
  }
  .invalid {
    font-size: 1.4rem;
    color: $danger;
  }
  .toggle {
    font-size: 1.4rem;
    text-align: center;
    @include hoverEffect();
  }
}

@media (min-width: $tablet) {
  .formContainer {
    width: 70%;
  }
}

@media (min-width: $desktop) {
  .formContainer {
    top: 250px;
    left: 400px;
    width: 30%;
  }
}
