@import "../../styles/variables.module.scss";
@import "../../styles/mixins.module.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
  margin-top: 50px;

  .postContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    overflow: visible;
    margin: 0 auto;
    align-items: center;
    width: 100%;
  }

  .loadMoreBtn {
    @include btnStyles(
      $boderColor: $darkShade,
      $margin: 15px 0px,
      $fontColor: $brandBlack
    );
  }
}

@media (min-width: $smallDesktop) {
  .container {
    margin-top: 0px;
  }
}
