@import "../../styles/variables.module.scss";
@import "../../styles/mixins.module.scss";

@media only screen and (min-width: 0px) and (max-width: $smallDesktop) {
}

@media (min-width: $smallDesktop) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 4px solid black;
    padding: 1.5rem;

    .postContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow-y: scroll;
      overflow: visible;
      margin: 0 auto;
      align-items: center;
      width: 100%;

      .scrollContainer {
        margin: 0 auto;
        border: 2px solid yellow;
      }
    }
  }
}
