@import "../../styles/variables.module.scss";
@import "../../styles/mixins.module.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $brandBlack;
  height: 80px;
  h1 {
    color: $mainBrandColor;
  }
  .btnContainer {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: $smallDesktop) {
  .container {
    .btnContainer {
      width: 20%;
    }
  }
}
