@import "../../../styles/mixins.module.scss";
@import "../../../styles/variables.module.scss";

.container {
  width: 90%;
  margin: 0 auto;

  h1 {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 2.4rem;
  }
  .iconComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    width: 90%;
  }
  .textContainer {
    width: 80%;
    text-align: left;
    padding-left: 1.5rem;
    font-size: 10px;
  }
  .textContainer p {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
  }
  .iconImgContainer {
    position: relative;
    height: 40px;
    width: 40px;
  }
  .btnContainer {
    display: flex;
    justify-content: center;
  }
  .btnLink {
    text-decoration: none;
    color: $brandBlack;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .btn {
    @include btnStyles($brandBlack, 3px, $brandBlack, $preOpacity: 0.8);
  }
}

@media (min-width: $Mobile) {
  .container {
    .iconImgContainer {
      height: 60px;
      width: 60px;
    }
    .textContainer p {
      font-size: 1.8rem;
    }
  }
}

@media (min-width: $tablet) {
  .container {
    .textContainer p {
      font-size: 2.4rem;
    }
  }
}

@media (min-width: $desktop) {
  .container {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 5rem;
    }
    .iconImgContainer {
      width: 100px;
      height: 100px;
    }
    .iconImage {
      height: 100px;
    }
    .btnLink {
      margin-bottom: 0px;
    }
  }
}
