$light-shade: #F9F8F8;
$light-accent: #DCA26C;
$main-brand-color: #93B1C1;
$dark-accent: #BC5968;
$dark-shade: #3B5875;
$brand-black: #191919;
$success: #5ea25d;
$warning: #db9225;
$danger: #FF5733;

// responsive breakpoints:
