@import "../../../styles/mixins.module.scss";
@import "../../../styles/variables.module.scss";

.container {
  border: 2px solid red;
  height: 250px;
  padding: 1rem;
  .topSection {
    height: 50%;
    width: 50%;
  }
  .bottomSection {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
    border-top: 1px solid $brandBlack;
    height: 50%;
    .tab {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: black;
      height: 50px;
      width: 100px;
      text-decoration: none;
    }
    .active {
      color: $mainBrandColor;
      border-bottom: 5px solid $mainBrandColor;
    }
  }
}

@media (min-width: $smallDesktop) {
  .container {
    .bottomSection {
      justify-content: start;
    }
  }
}
