@import "../../styles/mixins.module.scss";
@import "../../styles/variables.module.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.5);
  backdrop-filter: blur(5px);

  .container {
    width: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    height: 70%;
    @include gradient();
    box-shadow: -1px 0px 85px -8px rgba(249, 248, 248, 0.61);
    -webkit-box-shadow: -1px 0px 85px -8px rgba(249, 248, 248, 0.61);
    -moz-box-shadow: -1px 0px 85px -8px rgba(249, 248, 248, 0.61);
  }

  .scrollingContainer {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  label {
    font-size: 1.4rem;
    margin-left: 10px;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
  }

  input {
    width: 95%;
    margin: 10px;
    background-color: transparent;
    border: none;
    height: 30px;
    padding: 5px;
    font-size: 1.6rem;
  }

  select {
    width: 95%;
    margin: 10px;
    background-color: transparent;
    border: none;
    height: 30px;
    padding: 5px;
  }

  textarea {
    width: 95%;
    margin: 0 auto;
    margin-left: 10px;
    background-color: transparent;
    resize: none;
    border: none;
    height: 250px;
    padding: 10px;
    font-size: 1.6rem;
  }

  .counter {
    font-size: 1.6rem;
    margin-left: 10px;
  }

  .btn {
    @include btnStyles($brandBlack, 3px, $brandBlack);
    margin: 2rem auto;
  }

  .warning {
    color: $danger;
    font-size: 1.4rem;
    margin: 10px 10px;
  }
}

@media (min-width: $tablet) {
}

@media (min-width: $desktop) {
  .overlay {
    .container {
      width: 50%;
      padding: 40px;
    }
  }
}
